{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>django-postgres-queue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="root"></div>

    <script src="https://unpkg.com/@babel/standalone@7.4.2/babel.min.js"></script>
    <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://unpkg.com/recharts/umd/Recharts.min.js"></script>
    <script src="https://unpkg.com/immutable@4.0.0-rc.12/dist/immutable.min.js"></script>
    <script type="text/babel" src="{% static 'dpq_monitoring/Dashboard.js' %}"></script>
    <script type="text/babel">
      Dashboard.init({
        apiUrl: '{% url 'dpq:stats' %}',
      });
    </script>
  </body>
</html>
